body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("../img/forest.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.rain-drop {
    position: absolute;
    background: linear-gradient(180deg, #c3e8de, #5abcd8, #1ca3ec);
    border-radius: 100% 100% 80% 80%;
}

.btn-section {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    right: 50px;
    top: 50px;
    padding: 20px 10px;
    background: #C9D0DB;
    z-index: 101;
    border-radius: 10px;
    box-shadow: 10px 10px 10px -6px rgba(0, 0, 0, 0.50);
}

.drop-btn {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 2px solid #F5F5F5;
    border-radius: 50%;
    color: #F5F5F5;
    text-align: center;
    text-decoration: none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size: 18px;
    margin: 8px;
}

.drop-btn:hover {
    background: #262626;
    cursor: pointer;
}